

<form method="post" action="/notes/save">
    <div class="container-fluid form-group">
        <input type="hidden" name="saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>

        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="key">Key: </label>
            </div>
            <div class="col-10">
                <label class="col-form-label" name="key">{{ noteKey }}</label>

            </div>
            <input type="hidden" name="noteKey" value="{{ noteKey }}"/>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="title">Title:</label>

            </div>
            <div class="col-10">
                <input class="form-control col-9 pull-right" type="text" name="title" value="{{noteTitle}}"/><br/>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="content">Content:</label>

            </div>
            <div class="col-10 text-left font-weight-bold">
                <textarea class="form-control col-9 pull-right" rows=5 name="body">{{noteBody}}</textarea><br/>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <input class="btn btn-warning col-2" type="submit" value="Submit"/>

        </div>
    </div>
</form>


